<table class="table">
  <thead>
      <tr>
          <!-- <th>BrandID</th>  -->
          <th>Brand Name</th>
          <th></th>
      </tr>
  </thead> 
  <ul class="list-group">
  <li (click)="setCurrentBrand(brand)" 
  routerLink = "/cars/brand/{{brand.brandId}}"
  *ngFor="let brand of brands" 
  [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
      <!-- <td>{{brand.brandId}}</td> -->
      <!-- <td>{{brand.brandName}}</td> -->
  
</ul>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} sectiniz</h5>
</table>