
<table class="table">
  <thead>
      <tr>
            <th>CarID</th>
            <th>Car Name</th>
            <th>Brand</th>
            <th>Color</th>
          <th></th>
      </tr>
  </thead> 
    <tr *ngFor="let car of cars">
        <td>{{car.carId}}</td> 
        <td>{{car.carName}}</td> 
        <td>{{car.brandName}}</td> 
        <td>{{car.colorName}}</td> 
        <td><button routerLink = "/cars/{{car.carId}}" 
            type="button" class="btn btn-success">Details</button></td>
    </tr>
 
</table>
